# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives**
* Popular languages for Data Science
* Commonly used libraries for Data Science
* Common Data Science Tools
* Arithmetic expressions in Python

Some of the most popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the most commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Plotly

| Data Science Tools |
|:--------------------|
| Jupyter |
| RStudio |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by dividing by 60
(200/60)

3.3333333333333335

## Author
Aida Ramirez Marrujo